.app-header{
    background: linear-gradient(90deg, rgba(227,25,197,1) 0%, rgba(121,9,117,1) 40%, rgba(253,241,250,1) 100%); 
    color: white;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
}

body{
    margin: 0;
    display: grid;
    gap: 20px;
    background-color: #edeff0;
}

.centered-text-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container{
    background-color: #494949;
    color: white;
    display: flex;
    justify-content: space-between;
    height: auto;
    padding: 10px;
}

.footer-credits-container,
.footer-stack-container{
    display: flex;
}

.footer-credits-noms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-credits-noms{
    border-right: 2px solid white;
    padding-right: 5px;
}

.footer-stack-logos{
    display: flex;
    border-left: 2px solid white;
    align-items: center;
}

.footer-stack-logo-rect{
    width: 125px;
    height: 100px;
}

.footer-stack-logo-rect-XL{
    width: 250px;
    height: 100px;
}

.footer-stack-logo-1x1{
    width: 100px;
    height:100px;
}

.graph-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;
}

.information-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 50%;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}

.information-container-btn {
    position: relative;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #333;
    border: none;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
}

.information-container-btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: rgba(255, 255, 255, 0.2);
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    z-index: -1;
    transition: transform 0.6s ease-out;
}

.information-container-btn:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.information-container-btn:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

.information-container-explaination{
    padding: 10px;
    text-align: justify;
    text-justify: center;
}

.information-container-img{
    width: 700px;
    height: auto;
}

.information-container-title{
    font-weight: bold;
    padding: 10px;
    text-decoration : underline;
}

#my_dataviz:hover, #my_dataviz2:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}

p{
    margin: 3px;
}